.footer-element{
    background-color: $dark-color;

    li{
        list-style-type: none;
        }

    a,
    h3,
    p,
    li a{
        text-decoration: none;   
        color: $white-color;     
    }

    &__infos{
        border-top: 1px solid $white-color;
    }

    &__mobile--hidden{
        @media (max-width: 768px){
            display: none;
        } 
    }

    &__medias li{
        background-color: $white-color;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }

    &__logo{
        height: 4rem;
    }

    &__dropdown ul{
        @media (max-width: 768px){
            display: none;
        } 
    }

    &__categories i{
        display: none;
        @media (max-width: 768px){
            display: inline;
        } 
    }

}    