.footer-element{
    background-color: $dark-color;

    li{
        list-style-type: none;
        }

        li a:hover,
        li a i:hover{
            color: $secondary-color;
        }

        li a:focus,
        li a i:focus{
            color: $secondary-color;
        }

    a,
    h3,
    p,
    li,
    li &__icon--white,
    li a{
        text-decoration: none;   
        color: $white-color;     
    }

    &__mobile--hidden{
        @media (max-width: 768px){
            display: none;
        } 
    }

    &__medias li{
        background-color: $white-color;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }

    &__logo{
        height: 4rem;
    }

    &__dropdown{
        @media (max-width: 768px){
            display: none;
        } 
    }

    &__categories i{
        display: none;
        @media (max-width: 768px){
            display: inline;
        } 
    }

    &__divider{
        height: 1px;
        width: 100%;
        background-color: $white-color;
    }

    .show-footer-list{
        @media (max-width: 768px){
            display: block;
        }     }

}    