@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&family=Pacifico&display=swap");
.button-primary-regular {
  width: 100%;
  color: #ffffff;
  background-color: #1D838A;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #1D838A;
  align-items: center;
  font-weight: 600;
}

.button-primary-regular:hover {
  width: 100%;
  background-color: #ffffff;
  color: #1D838A;
  font-weight: 600;
  border: solid 2px #1D838A;
}

.button-primary-pill {
  color: #ffffff;
  background-color: #1D838A;
  justify-content: center;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  border: solid 2px #1D838A;
  align-items: center;
}

.button-primary-pill:hover {
  background-color: #ffffff;
  color: #1D838A;
  font-weight: 600;
  border: solid 2px #1D838A;
}

.button-secondary-regular {
  width: 100%;
  color: #ffffff;
  background-color: #E65A14;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #E65A14;
  align-items: center;
}

.button-secondary-regular:hover {
  width: 100%;
  background-color: #ffffff;
  color: #E65A14;
  font-weight: 600;
  border: solid 2px #E65A14;
}

.button-secondary-pill {
  color: #ffffff;
  background-color: #E65A14;
  justify-content: center;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  border: solid 2px #E65A14;
  align-items: center;
}

.button-secondary-pill:hover {
  background-color: #ffffff;
  color: #E65A14;
  font-weight: 600;
  border: solid 2px #E65A14;
}

.card-ad {
  display: block;
  top: 0px;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #3a3a3a;
}
.card-ad:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #3a3a3a;
  background-color: white;
}
.card-ad:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  background: #00838d;
  height: 1.6rem;
  width: 3rem;
  border-radius: 5px;
  transform: scale(1.8);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
.card-ad:before {
  content: "";
  color: #ffffff;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
.footer-element {
  background-color: #000000;
}
.footer-element li {
  list-style-type: none;
}
.footer-element a,
.footer-element h3,
.footer-element p,
.footer-element li a {
  text-decoration: none;
  color: #ffffff;
}
.footer-element__infos {
  border-top: 1px solid #ffffff;
}
@media (max-width: 768px) {
  .footer-element__mobile--hidden {
    display: none;
  }
}

.na {
  height: 7vh;
  background-color: #ffffff;
  border-bottom: 1px solid #1dc9c6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  padding: 0 2vw;
  /* Linked to JavaScript */
}
.na__form {
  width: 35vw;
  background-color: #ffffff;
  position: relative;
  display: flex;
}
.na__container_fields {
  flex: 10;
}
@media (max-width: 768px) {
  .na__form--mobile, .na__form--mobile:nth-child(1), .na__form--mobile:nth-child(2) {
    top: 7vh;
    position: absolute;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0 2% 0 2%;
  }
}
@media (max-width: 768px) {
  .na__form--none, .na__form--none:nth-child(1), .na__form--none:nth-child(2) {
    display: none;
  }
}
.na__input {
  background-color: #ededed;
  border-radius: 5px 0px 0px 5px;
  border: none;
  width: 100%;
  outline: none;
  height: 2rem;
  padding: 0 0.5rem;
  position: relative;
}
.na__search-glass {
  border: none;
  flex: 1;
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 768px) {
  .na__search-glass {
    height: 2rem;
  }
}
.na__burger-menu span {
  display: none;
}
@media (max-width: 768px) {
  .na__burger-menu span {
    display: block;
    height: 5px;
    width: 2rem;
    border-top: 2px solid #000000;
  }
}
.na__burger-menu label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50px;
}
.na__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  margin-bottom: 0;
  height: 7vh;
}
@media (max-width: 768px) {
  .na__list {
    display: none;
  }
}
.na__list li {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .na__list li {
    height: auto;
    display: initial;
  }
}
.na #logo {
  width: 7rem;
}
.na #dropdown-link-user,
.na #dropdown-link-annonces {
  position: relative;
}
.na__dropdown {
  position: absolute;
  left: -999999px;
  height: 0;
  top: 7vh;
  list-style-type: none;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .na__dropdown {
    display: none;
    position: inherit;
    top: inherit;
    width: 100vw;
    left: inherit;
  }
}
.na__dropdown a {
  text-decoration: none;
  color: #3a3a3a;
}
@media (max-width: 768px) {
  .na__dropdown_annonces div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.na #burger-check {
  display: none;
}
.na__dropdown_annonces--active, .na__dropdown_user--active {
  padding-top: 1.5rem;
  display: inherit;
  background-color: #ffffff;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.na__dropdown_user--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.na .show-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 6vh;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
  align-items: center;
  padding: inherit;
  padding-top: 2rem;
}

/* We don't want issues with :hover on responsive. To avoid this kind of isues, 
we declare all the :hover in a media. If the media doesn't correspond with :hover, it doesn't take these properties
*/
@media (hover: hover) {
  #dropdown-link-annonces:hover .na__dropdown_annonces {
    display: flex;
    gap: 3rem;
  }
  .na__dropdown_annonces div a:hover,
  .na__dropdown_user a:hover {
    color: #E65A14;
  }
  #dropdown-link-annonces:hover .na__dropdown_annonces div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #dropdown-link-annonces:hover .na__dropdown_annonces,
  #dropdown-link-user:hover .na__dropdown_user {
    left: 0;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #dropdown-link-user:hover .na__dropdown_user {
    display: flex;
    flex-direction: column;
    left: -4rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
}

h2,
h3 {
  font-family: "Voces";
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: "Nunito Sans";
  font-size: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #E65A14;
  color: #ffffff;
}

.nav-pills .nav-link {
  background-color: #1D838A;
  color: #ffffff;
}

.link {
  color: #E65A14;
  font-weight: 600;
}

.icon {
  color: #1D838A;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col {
  padding-left: 5px;
  padding-right: 5px;
}

label {
  margin-bottom: 0.5rem;
}

h1 {
  visibility: hidden;
}

.breadcrumb {
  padding: 10px 10px;
  list-style: none;
}

.breadcrumb-item {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

.breadcrumb-item a {
  color: #E65A14;
}

.breadcrumb-item a:hover {
  color: black;
}

.image-container {
  position: relative;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container img {
  display: block;
}

.overlay-text {
  position: absolute;
  transform: translate(454px, -37px);
  border-radius: 10px 0px 0px 0px;
  background-color: #1D838A;
  color: #ffffff;
  padding: 9px 28px;
  font-size: 16px;
  font-family: "Nunito Sans-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: normal;
  width: -moz-fit-content;
  width: fit-content;
}

.connexion {
  padding-top: 9rem;
  padding-bottom: 50px;
  background-image: url("../img/Img_page_de_connexion/background_img.png");
  background-size: initial;
}

.form-connexion {
  padding: 40px;
  border: dashed 1.5px rgb(138, 138, 138);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 2px 3px 3px 0px rgba(248, 248, 248, 0.877), 0px 3px 6px 0px rgba(255, 255, 255, 0.724);
}

.form {
  width: 100%;
}

.col-1-connexion {
  flex: 1;
  order: 1;
}

.col-2-connexion {
  flex: 1;
  order: 2;
}

@media screen and (max-width: 1025px) {
  .connexion {
    background-image: url("../img/Img_page_de_connexion/background_img.png");
    background-size: initial;
  }
}
@media screen and (min-width: 1025px) {
  .col-1-connexion {
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .col-2-connexion {
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (max-width: 600px) {
  .col-1-connexion {
    order: 2;
    margin-top: 50px;
  }
  .col-2-connexion {
    order: 1;
  }
  .form-connexion {
    padding: 10px;
  }
}
.class-padding-head {
  padding-top: 500px;
}

.section-1 {
  background-color: rgba(29, 201, 198, 0.3333333333);
  padding-top: 120px;
  padding-bottom: 80px;
}

.section-2 {
  background-color: rgba(226, 167, 18, 0.6549019608);
  padding-top: 120px;
  padding-bottom: 80px;
}

.contact-form {
  border: dashed 1.5px #383838;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 2px 3px 3px 0px rgba(248, 248, 248, 0.877), 0px 3px 6px 0px rgba(255, 255, 255, 0.724);
}

@media (max-width: 768px) {
  .section-1 {
    background-image: none;
    padding-top: 50px;
  }
}
.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#main-conversation {
  margin-top: 7vh;
  background-image: url("../img/back_conversation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 92vh;
  width: 100vw;
}

#section-top-conversation {
  background-color: #1D838A;
}

#annonce-conversation {
  background-color: #ededed;
}

#conversation-area {
  background-color: #ffffff;
}

.correspondant-message,
.mon-message {
  position: relative;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.correspondant-message {
  background-color: #1D838A;
}
@media (max-width: 768px) {
  .correspondant-message {
    margin-right: 50%;
  }
}

.mon-message {
  background-color: #E65A14;
}

.correspondant-message-state,
.mon-message-state {
  position: absolute;
  bottom: -3rem;
}

.correspondant-message-state {
  left: 0;
}

.mon-message-state {
  right: 0;
}

#form-conversation {
  border-top: 3px solid #3a3a3a;
}

#fileInput {
  display: none;
}

.hero {
  background: rgb(16, 200, 197);
  background: linear-gradient(90deg, rgb(16, 200, 197) 0%, rgb(110, 239, 237) 27%, rgb(234, 251, 250) 100%);
}

@media (max-width: 600px) {
  .hero {
    padding-top: 100px;
  }
}
.section {
  padding-top: 150px;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.last-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.news-letter {
  background-image: url("../img/Img_home_page/bg-pic-news.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}
.subscribe_form input {
  border: none;
  height: 44px;
}
.subscribe_form button {
  border: none;
  height: 44px;
  background-color: #E65A14;
  color: #ffffff;
  margin-left: -7px;
  border-radius: 5px;
  width: 135px;
  position: relative;
  font-weight: 600;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover, .subscribe_form button:focus, .subscribe_form button:active, .subscribe_form button:visited {
  color: #ffffff;
  background-color: #E65A14;
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover:before, .subscribe_form button:focus:before, .subscribe_form button:active:before, .subscribe_form button:visited:before {
  background-color: #E65A14;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form .input-group-btn:last-child > .btn, .subscribe_form .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}

.container-f-inscription {
  background-color: rgba(173, 216, 230, 0.7); /* Light-blue color with 20% opacity */
}

.insscription-container {
  padding-top: 9rem;
  padding-bottom: 6rem;
}

@media (max-width: 768px) {
  .insscription-container {
    padding-bottom: 10rem;
    padding-bottom: 2rem;
  }
}
.h2-pc {
  color: #1D838A;
}

.red-star {
  color: red;
}

.form-inscription {
  padding: 40px;
  border: dashed 1.5px #E65A14;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 2px 3px 3px 0px rgba(248, 248, 248, 0.877), 0px 3px 6px 0px rgba(255, 255, 255, 0.724);
}

.img-ins {
  max-width: 85%;
  float: inline-end;
}

@media (max-width: 768px) {
  .img-ins {
    padding-top: 2rem;
    max-width: 100%;
    float: inline-start;
  }
  .nav-conx {
    display: block;
  }
  .nav-item-conx {
    padding: 0.2rem;
  }
}
#main-messenger {
  margin-top: 7vh;
  background-image: url("../img/back_messenger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 92vh;
  width: 100vw;
}

#banniere-messenger {
  height: 15vh;
  background-color: #1D838A;
}

.message-card {
  border-bottom: 2px solid #1D838A;
}

.figure-message {
  width: 75px;
  height: 75px;
}

.figure-message img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .figure-message img {
    width: 75px;
  }
}

#figure-lola {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  #figure-lola {
    width: 150px;
    height: 150px;
  }
}

#figure-lola img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#line-divider {
  width: 100%;
  border-bottom: 3px solid #ededed;
}

#profile-badge {
  height: 100%;
  padding: 1px 3px;
  background-color: #E9AD10;
}

#my-star {
  color: #E9AD10;
}

.checked-icon {
  color: green;
}

#main-container {
  margin-top: 7vh;
}
@media (max-width: 768px) {
  #main-container {
    margin-top: 15vh;
  }
}

.fa-plus {
  color: #ffffff;
}

.action-ad-link,
.action-ad-link i {
  color: #ffffff;
}

.action-ad-link {
  width: 100%;
  text-decoration: none;
}

.action-ad-consulter {
  background-color: #1D838A;
}
.action-ad-consulter:hover {
  background-color: #145b60;
}

.action-ad-modifier {
  background-color: #E65A14;
}
.action-ad-modifier:hover {
  background-color: #b74810;
}

.action-ad-supprimer {
  background-color: #DB0B00;
}
.action-ad-supprimer:hover {
  background-color: #a80800;
}

/* Avis */
.figure-avis {
  width: 100px;
  height: 100px;
}

.figure-avis img {
  height: 100%;
  width: 100%;
}

.avis-commentaire {
  border-bottom: 2px solid #1dc9c6;
}

#map {
  height: 40vh;
}

.vertical-dots {
  padding: 2px 5px;
  border: 3px solid #1D838A;
}

.vertical-dots i {
  color: #1D838A;
}

#ajout-avis {
  border: 2px solid #1D838A;
}

/* CONTAINER FORM AVIS */
#container-form-avis {
  border: 2px solid #1D838A;
  display: none;
}

/* RATING */
.rating input {
  position: absolute;
  left: -9999px;
}

.rating label {
  cursor: pointer;
}

.rating label span {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

.figure-rating {
  width: 75px;
  height: 75px;
}

.figure-rating img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */