.section-1 {
    background-image: url("../img/Img_contact/bg-1-contact.png");
    background-size: initial;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 150px;
}