.creation{
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
}


.typecheck {
  display: flex;
  align-items: center;
}

.cardCre {
  background-color: rgba($light-blue, 0.2); 
}

.d-grid {
  gap: 1px;

  .btn {
    &.btn-depose {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}
.icone-card {
  width: 10rem;
  text-align: center;
  margin-top: 10px;
}

.plus-icon {
  opacity: 0.7;
}

.photo-icon{
  opacity: 0.7;
}



.imgcontainer {
  img {
    width: 100%; 
    height: 880px; 
    display: block; 
    max-width: 100%; 
  }
}

.annoncePrix,
.annonceLieu ,
.annonceTitle{
  opacity: 0.7;
}
#categorieSelect {
  opacity: 0.7;
}
