.typecheck {
  display: flex;
  align-items: center;
}

.crea {
  background-color: $light-bleu;
}

.btn btn-primary {
  background-color: $primary;
 
}

.image-container {
  height: 100%; /* La hauteur de la div sera égale à 100% de la hauteur de son conteneur parent */
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  height: 100%; /*  la colonne gauche prend 100% de la hauteur disponible */
}