.hero{
    background: rgb(16,200,197);
    background: linear-gradient(90deg, rgba(16,200,197,1) 0%, rgba(110,239,237,1) 27%, rgba(234,251,250,1) 100%);
}

@media (max-width: 600px) {
    .hero{
        padding-top: 100px;
    }  
}
.section{
    padding-top: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.last-section{
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.news-letter{
    padding:10%
}
.news-letter-bg{
    background-color: $yellow-logo-color;
}


  .first-column {
    padding: auto;
    background-color: $yellow-logo-color; 

  }

  .second-column {
    background-image: url('/public/img/news-letter/image1.avif');
  }
