#figure-lola{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#figure-lola img {
    width: 100%;
    height: 100%;
}

#line-divider{
    width: 100%;
    border-bottom: 3px solid $searchbar-color;
}

#profile-badge{
    height: 100%;
    padding: 1px 3px;
    background-color: $secondary-color;
}

#my-star{
    color: $secondary-color;
}

.checked-icon {
    color: green;
}

.na{
    height: 8vh;
    background-color: $white-color;
    border-bottom: 1px solid $primary-color;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width: 100vw;
}