#main-parametres {
    margin-top: 7vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92vh;
    width: 100vw;
}
.bannerParametres {
    height: 12vh;
    background-color: $primary-color;
    position: relative;
}
#title-parametres {
    font-size: 24px;
    color: $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profile-block {
    position: absolute;
    top: 80%;
    left: 5%;
}
#photo-parametres {
    width: 128px;
    height: 128 px;
    border-radius: 50%;
    
}
#photo-parametres img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    }
/*#username-parametres {
    
}*/
#choose-photo {
    text-decoration: none;
    padding: 3px;
    border: 1px sold $text-color;
}
.parametres-content {
    padding-top: 8rem;
    padding-bottom: 6rem;
   
}
#bio {
    height: 152px;
}
.btn-parametres {
    width: 298px;
}
