$primary-color: #1dc9c6;
$secondary-color: #F0B941;
$white-color: #ffffff;
$dark-color: #000000;
$input-color: #EEF1F4;
$text-color: #667080; 
$searchbar-color: #ededed; 
$danger-color: #E73030;
// $success-color: ;
// $warning-color: ;



