.link{
    color: $primary-color;
    font-weight: 600;
 }

.button-primary {
    width: 100%;
    color: #ffffff;
    background-color: $primary-color;
    justify-content: center;
    padding: 10px; 
    border-radius: 5px;
    border: solid 2px $primary-color;
    align-items: center;
  }
  
  .button-primary:hover {
    width: 100%;
    background-color: #fff;
    color: $primary-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }

  .button-secondary {
    width: 100%;
    color: #ffffff;
    background-color: $secondary-color;
    justify-content: center;
    padding: 10px; 
    border-radius: 5px;
    border: solid 2px $secondary-color;
    align-items: center;
  }
  
  .button-secondary:hover {
    width: 100%;
    background-color: #fff;
    color: $secondary-color;
    font-weight: 600;
    border: solid 2px $secondary-color;
  }
