.card-ad {
    display: block;
    top: 0px;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid $text-color;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid $text-color;
      background-color: white;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0px;
      right: 0px;
      background: #00838d;
      height: 1.6rem;
      width: 3rem;
      border-radius: 5px;
      transform: scale(1.8);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
    &:before {
        content: "";
        color: $white-color;
        font-size: 10px;
        align-items: center;
        justify-content: center;
      } 
    &:hover:before {
    //   transform: scale(2.15);
    }
  }