<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/sass/main.css">
</head>
<body>
    <header>
        <nav class="na">
                <input type="checkbox" id="burger-check">            
            <a href="" id="link-logo"><img src="../public/img/logo_do4u.svg" alt="logo Do4U" id="logo"></a>   
            <form class="na__form na__form--mobile">
                <div class="na__container_fields">
                    <input type="text" placeholder="chercher une annonce par mot-clé" class="na__input">                    
                </div>
                <button class="na__search-glass" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>                  
            </form> 
    
            <div class="na__burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
            </div>
            
            <ul class="na__list">
                <li id="dropdown-link-annonces">
                    <!-- Add role so screen readers canr read what it is about. In our case, it will indicate that is a button to display a menu -->
                    <a href="#" class="nav-link link-annonces" role="button"  aria-haspopup="true" aria-expanded="false">Annonces <i class="fa-solid fa-chevron-down"></i></a>   
                    <div class="na__dropdown na__dropdown_annonces" aria-label="Sous-menu annonces" role="menu">
                        <div role="menuitem">
                            <a href="">Ménage / nettoyage / services à la personne</a>
                            <a href="">Rénovation & construction</a> 
                            <a href="">Jardinage & bricolage</a> 
                            <a href="">Réparation & maintenance</a> 
                        </div>
                        <div role="menuitem">
                            <a href="">Informatique & administratif</a> 
                            <a href="">Cours & coaching</a> 
                            <a href="">Santé & bien-être</a> 
                            <a href="">Evenements & divertissements</a> 
                        </div>
                        <div role="menuitem">
                            <a href="">Animaux</a> 
                            <a href="">Artisanat & création</a>
                            <a href="">Garde d'enfants</a> 
                            <a href="">Autre</a> 
                        </div>
                    </div>
                </li> 
                <li class="">
                    <button class="nav-link button-primary-pill"><i class="fa-solid fa-plus"></i> Créer une annonce</button>   
                </li> 
                <li class="">
                    <a href="#" class="nav-link">Contact</a>   
                </li> 
                <li class="">
                    <a href="#" class="nav-link"><i class="fa-solid fa-envelope"></i></a>   
                </li> 
                <li class="na__link_dropdown" id="dropdown-link-user">
                    <a href="#" class="nav-link user-link" role="button"><i class="fa-solid fa-user"></i></a>
                    <ul class="na__dropdown na__dropdown_user" aria-label="Sous-menu utilisateur" role="menu">
                        <li>
                            <a href="">Mon profil</a>
                        </li>
                        <li>
                            <a href="">Paramètres</a>
                        </li>
                        <li>
                            <a href="">Déconnexion</a>
                        </li>
                    </ul>   
                </li> 
            </ul>              
        </nav>          
    </header>
    <main class="container-fluid d-flex d-flex-column connexion">
        <div class="container pt-5">
            <div class="row d-flex align-items-center align-content-center pb-5">
              <div class="col-12 col-lg-5 order-2 order-lg-1 ">
                <!-- col-1-connexion float-center -->
                <img class="mx-auto img-fluid img-conx d-block " src="../public/img/Img_page_de_connexion/personne.png" alt="" />
                <p>Votre confidentialité et votre sécurité sont nos principales priorités !<br />
                  Consultez notre <a class="link" href="">politique et nos informations de confidentialité</a><br />
                  Besoin d’aide ? <a class="link" href="">contactez-nous</a><br />
                </p>
              </div>
              <div class="offset-lg-2 col-12 col-lg-5 order-1 order-lg-2 pb-5">
                <!-- col-2-connexion -->
                <div class="form-connexion">
                  <form>
                    <h3 class="fw-bolder">Bienvenue !</h3>
                    <p>Connectez-vous ou <a class="link" href="">créez un compte</a></p>
                    <div class="form-group mt-3">
                      <label for="adresseMail">Adresse mail</label>
                      <input type="text" class="form-control" id="adresseMail" placeholder="mattsmith@mail.com">
                    </div>
                    <div class="form-group mt-3">
                      <label for="motPass">Mot de passe</label>
                      <input type="password" class="form-control" id="motPass" placeholder="Votre mot de pass">
                    </div>
                    <div class="mt-4">
                      <button type="submit " class="btn button-primary-regular">Connecter</button>
                    </div>
                  </form>
                  <p class="pt-3"><a class="link" href="">Mot de passe oublié</a></p>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer class="footer-element py-4">
        <section class="container pt-5">
            <div class="row mb-4">
                <div class="col-12 col-lg-3 text-center text-lg-start mb-3 mb-lg-0">
                    <a href="" id="link-logo"><img src="../public/img/logo_do4u_footer.svg" alt="logo Do4U" class="footer-element__logo"></a> 
                    <p class="text-lg-start">Votre plateforme de choix de prestataires.</p>

                    <h3 class="text-center text-lg-start pb-3">Retrouvez-nous sur</h3>
                    <ul class="footer-element__medias d-flex justify-content-evenly justify-content-lg-start gap-lg-5 ps-0">
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1">
                    <h3 class="text-center text-lg-start footer-element__categories">Catégories &nbsp;<i class="fa-solid fa-caret-down"></i></h3>
                    <div class="flex-lg-column d-lg-flex text-center flex-lg-row text-lg-start gap-lg-3 footer-element__dropdown">
                        <ul class="ps-0">
                            <li class=""><a href="">Ménage</a></li>
                            <li><a href="">Services à la personne</a></li>
                            <li><a href="">Rénovation & construction</a></li>
                            <li><a href="">Jardinage & bricolage</a></li>
                            <li><a href="">Réparation & maintenance</a></li>
                            <li><a href="">Informatique & administratif</a></li>
                            <li><a href="">Cours & coaching</a></li>
                            <li><a href="">Evènements & divertissements</a></li>
                        </ul>
                        <ul class="ps-0">
                            <li><a href="">Santé & bien-être</a></li>
                            <li><a href="">Animaux</a></li>
                            <li><a href="">Artisanat & création</a></li>
                            <li><a href="">Garde d'enfants</a></li>
                            <li><a href="">Autre</a></li> 
                        </ul>                        
                    </div>

                </div>
                <div class="col-12 col-lg-2">
                    <h3 class="footer-element__mobile--hidden">Liens rapides</h3>
                    <ul class="ps-0">
                        <li class="footer-element__mobile--hidden"><a href="">Qui sommes-nous ?</a></li>
                        <li class="text-center text-lg-start mt-5 mt-lg-0"><a  href="">Nous contacter</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les offres</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les demandes</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2 footer-element__mobile--hidden">
                    <h3>Contact</h3>
                    <ul class="ps-0">
                        <li><i class="fa-solid fa-phone-volume footer-element__icon--white"></i>&nbsp; 03 67 67 67</li>
                        <li><i class="fa-solid fa-envelope footer-element__icon--white"></i>&nbsp; do4u@gmail.com</li>
                        <li><i class="fa-solid fa-map footer-element__icon--white"></i>&nbsp; 109 rue ABC, Strasbourg, France</li>
                    </ul>
                </div>            
            </div>
        </section>   
        <div class="footer-element__divider"></div>
        <section class="container">
            <div class="d-flex flex-column text-center text-lg-start flex-lg-row justify-content-lg-between mb-0 footer-element__infos">
                <ul class="d-flex flex-column flex-lg-row ps-0 mb-0 mt-2 gap-3">
                    <li><a href="">Conditions générales d'utilisation</a></li>
                    <li><a href="">Mentions légales</a></li>
                </ul>
                <p class="mb-0 mt-2">&copy; 2023, Do4U Inc. Tous droits réservés.</p>
            </div>                
        </section>         
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>