<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/sass/main.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="créa p-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Créer une annonce</h3>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label"> * Titre de votre annonce</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Titre de votre annonce">
                          </div>
                          <div class="Catégorie">
                            <label for="exampleFormControlInput1" class="form-label"> * Catégorie</label>
                            <select class="form-select form-select-lg" aria-label="Large select example">
                              <option selected>Choisir un catégorie</option>
                              <option value="1">ménage, nettoyage, services à la personne</option>
                              <option value="2">rénovation & construction</option>
                              <option value="3">réparation et maintenance</option>
                              <option value="3">informatique & administratif</option>
                              <option value="3">cours et coaching</option>
                              <option value="3">santé et bien être</option>
                              <option value="3">evénements et divertissements</option>
                              <option value="3">animaux</option>
                              <option value="3">artisanat & création</option>
                              <option value="3">enfants</option>
                              <option value="3">autre</option>
                            </select>
                       </div>


                    </div>
                    <div class="col-md-4">
                        <img src="./../public/img/Img_page_ads/leaves-2310247_640.webp" alt="">

                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>