<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/sass/main.css">
</head>
<body>
    <header> 
        <nav class="na">
                <input type="checkbox" id="burger-check">            
            <a href="" id="link-logo"><img src="../public/img/logo_do4u.svg" alt="logo Do4U" id="logo"></a>   
            <form class="na__form na__form--mobile">
                <div class="na__container_fields">
                    <input type="text" placeholder="chercher une annonce par mot-clé" class="na__input">                    
                </div>
                <button class="na__search-glass" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>                  
            </form> 
    
            <div class="na__burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
            </div> 
            <ul class="na__list">
                <li id="dropdown-link-annonces">
                    <!-- Add role so screen readers canr read what it is about. In our case, it will indicate that is a button to display a menu -->
                    <a href="#" class="nav-link link-annonces" role="button"  aria-haspopup="true" aria-expanded="false">Annonces <i class="fa-solid fa-chevron-down"></i></a>   
                    <div class="na__dropdown na__dropdown_annonces" aria-label="Sous-menu annonces" role="menu">
                        <div role="menuitem">
                            <a href="">Ménage</a>
                            <a href="">Services à la personne</a>
                            <a href="">Rénovation & construction</a> 
                            <a href="">Jardinage & bricolage</a> 
                            <a href="">Réparation & maintenance</a> 
                        </div>
                        <div role="menuitem">
                            <a href="">Informatique & administratif</a> 
                            <a href="">Cours & coaching</a> 
                            <a href="">Santé & bien-être</a> 
                            <a href="">Evenements & divertissements</a> 
                        </div>
                        <div role="menuitem">
                            <a href="">Animaux</a> 
                            <a href="">Artisanat & création</a>
                            <a href="">Garde d'enfants</a> 
                            <a href="">Autre</a> 
                        </div>
                    </div>
                </li> 
                <li class="">
                    <button class="nav-link button-primary-pill"><i class="fa-solid fa-plus"></i> Créer une annonce</button>   
                </li> 
                <li class="">
                    <a href="#" class="nav-link">Contact</a>   
                </li> 
                <li class="">
                    <a href="#" class="nav-link"><i class="fa-solid fa-envelope"></i></a>   
                </li> 
                <li class="na__link_dropdown" id="dropdown-link-user">
                    <a href="#" class="nav-link user-link" role="button"><i class="fa-solid fa-user"></i></a>
                    <ul class="na__dropdown na__dropdown_user" aria-label="Sous-menu utilisateur" role="menu">
                        <li>
                            <a href="">Mon profil</a>
                        </li>
                        <li>
                            <a href="">Paramètres</a>
                        </li>
                        <li>
                            <a href="">Déconnexion</a>
                        </li>
                    </ul>   
                </li> 
            </ul>              
        </nav>          
    </header>
    <main class="container" id="main-container">
        <div><p><a href="">Accueil</a> < <a href="">Mon profil</a></p></div>
        <section id="my-infos-profile">
            <div id="top-my-infos" class="flex-column flex-lg-row align-items-lg-center justify-content-between d-flex">
                <div class=" d-flex flex-row align-items-center gap-3">
                    <figure id="figure-lola" >
                        <img src="../public/img/woman_face.jpg" alt="profil de user">
                    </figure>
                    <div>
                        <div class="flex-lg-row d-flex flex-wrap">
                            <p>Lola</p>
                            <span id="profile-badge">Particulier</span>                             
                        </div>

                        <p><i class="fa-solid fa-star" id="my-star"></i> 4/5 <span>(18 avis)</span></p>
                    </div>
                </div>
                <div class="">
                    <p class="d-none d-lg-inline">Informations vérifiées :</p>
                    <p><i class="fa-solid fa-circle-check checked-icon"></i> E-mail</p>                    
                </div>
                <div class="">
                    <p><i class="fa-solid fa-location-dot"></i> Strasbourg</p>
                    <p><i class="fa-solid fa-user"></i> Membre depuis le 08/11/2023</p>
                </div>
            </div>
            <article id="my-description">
                <h2>Présentation</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti perspiciatis laudantium quidem, modi vel repellat voluptatibus odio quis ratione tenetur, sit exercitationem, corporis laboriosam dolores provident iste illo minus voluptate.
                Totam culpa odio consequatur ipsum sequi iure, unde atque aliquam dignissimos alias adipisci aut quod temporibus nemo ab? Ipsam possimus corrupti, ipsa dolores ipsum enim quibusdam. Minus sequi sint tempore!</p>
            </article>
        </section>
        <div id="line-divider"></div>
        <section id="mes-rubriques">
            <ul class="nav nav-underline row text-center mt-5">
                <li class="nav-item col-3 offset-1 offset-lg-2 col-lg-2 ">
                    <a href="" class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-annonces">Annonces</a>
                </li>
                <li class="nav-item col-3  col-lg-2">
                    <a href="" class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-favoris">Favoris</a>
                </li>
                <li class="nav-item col-2  col-lg-2">
                    <a href="" class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-avis">Avis</a>
                </li>
                <li class="nav-item col-2  col-lg-2">
                    <a href="" class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-suivis">Suivis</a>
                </li>
            </ul>
            <div class="tab-content mt-5" id="pills-tabContent">
                <div class="tab-pane fade show active text-center" id="pills-annonces" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <p>4 annonces publiées</p>
                    <div class="row justify-content-evenly d-flex gap-5 gap-lg-0">
                        <div class="card card-ad" style="width: 18rem;">
                            <figure class="card-ad__figure">
                                <img src="../public/img/cards/image1.jpg" class="card-img-top" alt="service">  
                                <div class="card-ad__badge">
                                    <p>Offre</p>
                                </div>                              
                            </figure>

                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <div class="flex-column d-flex justify-content-evenly gap-3 pt-2 container-ad-actions">
                                <a class="action-ad-link text-center p-2 rounded action-ad-consulter" href="">Consulter <i class="fa-solid fa-eye"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-modifier" href="">Modifier <i class="fa-solid fa-pen"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-supprimer" href="">Supprimer <i class="fa-solid fa-trash"></i></a>                                
                              </div>
                            </div>
                          </div>
                          <div class="card card-ad" style="width: 18rem;">
                            <img src="../public/img/cards/image1.jpg" class="card-img-top" alt="service">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <div class="flex-column d-flex justify-content-evenly gap-3 pt-2 container-ad-actions">
                                <a class="action-ad-link text-center p-2 rounded action-ad-consulter" href="">Consulter <i class="fa-solid fa-eye"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-modifier" href="">Modifier <i class="fa-solid fa-pen"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-supprimer" href="">Supprimer <i class="fa-solid fa-trash"></i></a>                                
                              </div>
                            </div>
                          </div>
                          <div class="card card-ad" style="width: 18rem;">
                            <img src="../public/img/cards/image1.jpg" class="card-img-top" alt="service">
                            <div class="card-body ">
                                <h5 class="card-title">Card title</h5>
                                <div class="flex-column d-flex justify-content-evenly gap-3 pt-2 container-ad-actions">
                                <a class="action-ad-link text-center p-2 rounded action-ad-consulter" href="">Consulter <i class="fa-solid fa-eye"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-modifier" href="">Modifier <i class="fa-solid fa-pen"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-supprimer" href="">Supprimer <i class="fa-solid fa-trash"></i></a>                                
                                </div>
                            </div>
                          </div>
                          <div class="card card-ad" style="width: 18rem;">
                            <img src="../public/img/cards/image1.jpg" class="card-img-top" alt="service">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <div class="flex-column d-flex justify-content-evenly gap-3 pt-2 container-ad-actions">
                                <a class="action-ad-link text-center p-2 rounded action-ad-consulter" href="">Consulter <i class="fa-solid fa-eye"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-modifier" href="">Modifier <i class="fa-solid fa-pen"></i></a>
                                <a class="action-ad-link text-center p-2 rounded action-ad-supprimer" href="">Supprimer <i class="fa-solid fa-trash"></i></a>                                
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-favoris" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <div class="row justify-content-evenly d-flex gap-5 gap-lg-0">
                        <div class="card card-ad h-100" style="width: 18rem;">
                            <img  src="../public/img/cards/image1.jpg" class="img-fluid card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Spécialiste de soin et de la mise en beauté</h5>
                                <div class="">
                                    <i class="icon fa-regular fa-user"></i>
                                    <span>Auto entrepreneur</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-euro-sign"></i>
                                    <span>30€/H</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-regular fa-folder"></i>
                                    <span>Santé et bien-etre</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-user"></i>
                                    <span>Rosie</span> <span> 4.5(19 avis) </span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-location-dot"></i>
                                    <span>Strasbourg</span>
                                </div>
                            </div>
                        </div>
                        <div class="card card-ad h-100" style="width: 18rem;">
                            <img  src="../public/img/cards/image1.jpg" class="img-fluid card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Spécialiste de soin et de la mise en beauté</h5>
                                <div class="">
                                    <i class="icon fa-regular fa-user"></i>
                                    <span>Auto entrepreneur</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-euro-sign"></i>
                                    <span>30€/H</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-regular fa-folder"></i>
                                    <span>Santé et bien-etre</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-user"></i>
                                    <span>Rosie</span> <span> 4.5(19 avis) </span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-location-dot"></i>
                                    <span>Strasbourg</span>
                                </div>
                            </div>
                        </div>
                        <div class="card card-ad h-100" style="width: 18rem;">
                            <img  src="../public/img/cards/image1.jpg" class="img-fluid card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Spécialiste de soin et de la mise en beauté</h5>
                                <div class="">
                                    <i class="icon fa-regular fa-user"></i>
                                    <span>Auto entrepreneur</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-euro-sign"></i>
                                    <span>30€/H</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-regular fa-folder"></i>
                                    <span>Santé et bien-etre</span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-user"></i>
                                    <span>Rosie</span> <span> 4.5(19 avis) </span>
                                </div>
                                <div class="">
                                    <i class="icon fa-solid fa-location-dot"></i>
                                    <span>Strasbourg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-avis" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                    <div class="mx-auto d-flex flex-column align-items-center">
                        <p class="fs-3 mb-0"><i class="fa-solid fa-star"></i> 4/5</p>
                        <p>18 avis</p>                            
                    </div>
                    <section>
                        <p>Ils parlent de moi...</p>
                        <article class="avis-commentaire d-flex justify-content-between mt-3">
                            <div>
                                <div class="d-flex gap-2">
                                    <figure class="figure-avis mb-0">
                                        <img src="../public/img/woman_face.jpg" class="rounded-circle object-fit-cover" alt="">
                                    </figure> 
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="mb-0">Nolan</p>
                                        <p class="mb-0"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                                        <p class="mb-0">02/03/2023</p>
                                    </div>                                   
                                </div>
                                <div class="mt-3">
                                    <p>Services à la personne</p>
                                    <p>Très satisfaite du travail de Lola pour mon grand-père</p>
                                </div>
                            </div>
                            <div>
                                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </article>
                        <article class="avis-commentaire d-flex justify-content-between mt-3">
                            <div>
                                <div class="d-flex gap-2">
                                    <figure class="figure-avis mb-0">
                                        <img src="../public/img/woman_face.jpg" class="rounded-circle object-fit-cover" alt="">
                                    </figure> 
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="mb-0">Jessica</p>
                                        <p class="mb-0"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                                        <p class="mb-0">02/03/2023</p>
                                    </div>                                   
                                </div>
                                <div class="mt-3">
                                    <p>Services à la personne</p>
                                    <p>Très satisfaite du travail de Lola pour mon grand-père</p>
                                </div>
                            </div>
                            <div>
                                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </article>
                    </section>
                </div>
                <div class="tab-pane fade text-center" id="pills-suivis" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
                    <p class="mx-auto">Vous suivez 1 utilisateur</p>
                    <div class="row justify-content-evenly d-flex gap-5 gap-lg-0">
                        <article class="col-lg-3 d-flex flex-column align-items-center">
                            <figure class="figure-avis mb-0">
                                <img src="../public/img/woman_face.jpg" class="rounded-circle object-fit-cover" alt="">
                            </figure> 
                            <p>Joel_obp</p>
                            <p><i class="fa-solid fa-star" id="my-star"></i> 4/5 <span>(18 avis)</span></p>
                            <button class="button-primary-pill">Voir le profil</button>
                        </article>
                    </div>
                </div>
              </div>
        </section>
    </main>
    <footer class="footer-element py-4 mt-5">
        <section class="container">
            <div class="row mb-4">
                <div class="col-12 col-lg-3 text-center text-lg-start mb-3 mb-lg-0">
                    <a href="" id="link-logo"><img src="../public/img/logo_do4u_footer.svg" alt="logo Do4U" class="footer-element__logo"></a> 
                    <p class="text-lg-start">Votre plateforme de choix de prestataires.</p>

                    <h3 class="text-center text-lg-start pb-3">Retrouvez-nous sur</h3>
                    <ul class="footer-element__medias d-flex justify-content-evenly justify-content-lg-start gap-lg-5 ps-0">
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1">
                    <h3 class="text-center text-lg-start footer-element__categories">Catégories &nbsp;<i class="fa-solid fa-caret-down"></i></h3>
                    <div class="flex-lg-column d-lg-flex text-center flex-lg-row text-lg-start gap-lg-3 footer-element__dropdown">
                        <ul class="ps-0">
                            <li class=""><a href="">Ménage</a></li>
                            <li><a href="">Services à la personne</a></li>
                            <li><a href="">Rénovation & construction</a></li>
                            <li><a href="">Jardinage & bricolage</a></li>
                            <li><a href="">Réparation & maintenance</a></li>
                            <li><a href="">Informatique & administratif</a></li>
                            <li><a href="">Cours & coaching</a></li>
                            <li><a href="">Evènements & divertissements</a></li>
                        </ul>
                        <ul class="ps-0">
                            <li><a href="">Santé & bien-être</a></li>
                            <li><a href="">Animaux</a></li>
                            <li><a href="">Artisanat & création</a></li>
                            <li><a href="">Garde d'enfants</a></li>
                            <li><a href="">Autre</a></li> 
                        </ul>                        
                    </div>

                </div>
                <div class="col-12 col-lg-2">
                    <h3 class="footer-element__mobile--hidden">Liens rapides</h3>
                    <ul class="ps-0">
                        <li class="footer-element__mobile--hidden"><a href="">Qui sommes-nous ?</a></li>
                        <li class="text-center text-lg-start mt-5 mt-lg-0"><a  href="">Nous contacter</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les offres</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les demandes</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2 footer-element__mobile--hidden">
                    <h3>Contact</h3>
                    <ul class="ps-0">
                        <li><i class="fa-solid fa-phone-volume footer-element__icon--white"></i>&nbsp; 03 67 67 67</li>
                        <li><i class="fa-solid fa-envelope footer-element__icon--white"></i>&nbsp; do4u@gmail.com</li>
                        <li><i class="fa-solid fa-map footer-element__icon--white"></i>&nbsp; 109 rue ABC, Strasbourg, France</li>
                    </ul>
                </div>            
            </div>
        </section>   
        <div class="footer-element__divider"></div>
        <section class="container">
            <div class="d-flex flex-column text-center text-lg-start flex-lg-row justify-content-lg-between mb-0 footer-element__infos">
                <ul class="d-flex flex-column flex-lg-row ps-0 mb-0 mt-2 gap-3">
                    <li><a href="">Conditions générales d'utilisation</a></li>
                    <li><a href="">Mentions légales</a></li>
                </ul>
                <p class="mb-0 mt-2">&copy; 2023, Do4U Inc. Tous droits réservés.</p>
            </div>                
        </section>         
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>